h1 {
    background-color: #d018e0;
            color: rgb(241, 244, 245);
            padding: 10px;
            font-size: larger;
            margin: 0%;
}
        
body {
    
        font-family: 'Courier New', Courier, monospace;
}

    