body {
        font-family: Arial, sans-serif;
}

h1,h2,h3 {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        
}
body {
        color:rgb(6, 4, 2);
        background-color: rgb(158, 74, 154);
}

h1 {
        color: #009688;
}
.container {
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
}
p {
        line-height: 1.5;
}